<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.scalatest">
<stringAttribute key="SCALATEST_LAUNCH_INCLUDE_NESTED" value="false"/>
<setAttribute key="SCALATEST_LAUNCH_TESTS_NAME"/>
<stringAttribute key="SCALATEST_LAUNCH_TYPE" value="FILE"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/lab4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="/lab4/src/main/scala/Lab4.scala"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:\Users\Michelle\Documents\GitHub\PL-LABS\LAB4\lab4\Lab4.jsy&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="lab4"/>
</launchConfiguration>
